<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Create Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/maps.js"></script>
    <script type="text/javascript" src="/scripts/events.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyKGD0KZJKeuryKROZeOvorSwd739yqO4&libraries=places&callback=initialize" async defer></script>



  </head>

  <body>

    <div>
      <div class="row">
        <div class="col-sm-5 col-md-4 col-xl-3">
          <div class="content-wrapper">
            <h1>Logo</h1>
            <h2><%=email%></h2>
            <button class="reg-btn" type="button">Logout</button>


            <!-- Create or choose a map section -->
            <div id="choose-map" class="sign-in_2">
              <h2>Choose Or<br> Create A Map</h2>
              <div class="input-group mb-3">
                <div class="drop-down-contain">
                  <button class="drop-down">Choose</button>


                  <% mymaps.forEach( function(e) { %>

                  <button class="drop-down-item" mapId= <%=e.id %> ><%= e.name %></button>

                  <% });%>
                  <button class="drop-down-item">+ Create Map</button>

                </div>
              </div>
            </div>


            <!-- Event address section -->
            <div id="event-address" class="input-group mb-3 sign-in_2">
              <h3>Event Address</h3>
              <form>
                <input id="searchTextField" type="text" placeholder="Add address">
                <label id="address_text"></label>

                <script>


                </script>

              </form>
            </div>


            <!-- Event info form section -->
            <div style="display: none;" id="event-form" class="drop-down sign-in_2">
              <h3>Event Info</h3>
              <form>
                <input type="text" name="email" placeholder="Name Of Event">
                <textarea placeholder="Description"></textarea>
                start date
                <input type="date" name="start-date" value="2019-05-25">
                end date
                <input type="date" name="end-date" value="2019-05-25">
                <input type="text" name="email" placeholder="Event URL">
                <input type="text" name="email" placeholder="Image URL">
                <button type="submit">Create Event</button>
              </form>
            </div>


          </div>
        </div>

        <div class="col-sm-7 col-md-8 col-xl-9">
             <div id="map"></div>
        </div>
      </div>
    </div>

  </body>

</html>
