<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/maps.js"></script>
    <script type="text/javascript" src="/scripts/events.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyKGD0KZJKeuryKROZeOvorSwd739yqO4&callback=initMap" async defer></script>


  </head>

  <body>

    <div>
      <div class="row">


        <div class="col-sm-5 col-md-4 col-xl-3">
          <div class="content-wrapper">
            <h1>Logo</h1>

            <% if (email) { -%>
              <h2><%=email%></h2>
              <a href="/profiles"><button class="reg-btn" type="button">Profile</button></a>
            <% } else { -%>
              <a href="/login"><button class="login-btn">Login</button></a>
              <button class="reg-btn">Register</button>
            <% } -%>
            <div class="sign-in">
              <h3>Choose A Map</h3>
              <% if (allmaps !== undefined) { -%>

                <% allmaps.forEach( function(e) { %>


                  <button class="map-select btn btn-primary btn-block" href="#" role="button" mapId= <%=e.id%> > <%= e.name %></button>


                <% }); -%>
              <% } -%>
          </div>

          </div>
        </div>


        <div class="col-sm-7 col-md-8 col-xl-9">
             <div id="map"></div>
        </div>


      </div>
    </div>

    <script>

    </script>
  </body>
</html>

