<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/maps.js"></script>
    <script type="text/javascript" src="/scripts/events.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyKGD0KZJKeuryKROZeOvorSwd739yqO4&callback=initMap"
    async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

  </head>

  <body>

    <div>
      <div class="row">
        <div class="col-sm-5 col-md-4 col-xl-3">
          <div class="content-wrapper">
             <img src="https://github.com/minsohng/wikimap/blob/Diana7/img/Screen%20Shot%202019-04-27%20at%202.10.00%20PM.png?raw=true" alt="Logo" id='logo'></img>

            <h2><%= email %></h2>

            <form method="POST" action="/logout">
              <button class="reg-btn" type="submit">Logout</button>
            </form>
            <div class="sign-in">
              <a href="/events/new"><h1>Create Event</h1></a>
              <a href="/my_events"><h1>My Events</h1></a>
              <a href="/maps/new"><h1>Create Map</h1></a>
              <a href="/my_maps"><h1>My Maps</h1></a>
              <a href="/"><h1>All Maps</h1></a>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-8 col-xl-9">
             <div id="map"></div>
        </div>
      </div>
    </div>

  </body>
</html>
