body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

button {
  display: block;
}

input {
  display: block;
}

.login-btn, .reg-btn {
  display: inline-block;
}

.left-side {
  padding: 20px;
}
