body {
  background-color: white;

  h1 {
    color: #244751;
  }
}

h6 {
  padding-top: 10px;
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  list-style-type: none;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #444;
}

button {
  outline: none;
  display: block;
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #444;
}


input {
  outline: none;
  display: block;
  border: 1px solid #444;
  width: 95%;
  padding: 10px;
  margin-top: 15px;
}

textarea {
  width: 95%;
  resize: none;
  outline: none;
  margin-top: 15px;
  height: 80px;
}


// Login Page Styling

.login-btn, .reg-btn {
  display: inline-block;
}

.login-btn:hover, .reg-btn:hover {
  display: inline-block;
  background-color: #444;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.content-wrapper {
  padding: 30px 15px 0px 30px;
}

div.sign-in {
  margin-top: 100px
}

div.sign-in_2 {
  margin-top: 40px
}

.col-md-4 {
  height: 100vh;
}

.col-md-8 {
  padding: 0px;
  height: 100vh;
}

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


// Homepage Styling


button.map-select {
  outline: none;
  text-align: left;
  border: 1px solid #444;
  background-color: transparent;
  color: #444;
  border-radius: 0px;
  padding: 20px 10px;
}


button.map-select:hover {
  background-color: #444;
  border: 1px solid #444;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

// New Event

div .drop-down {
  width: 100%;
  text-align: left;
}

.drop-down-contain {
  width: 100%;
}

div .drop-down-item {
  width: 100%;
  text-align: left;
  margin-top: 0;
  border-top: none;
}


button.event-btn {
  overflow: hidden;
  display: inline-block;
  width: 50%
}


button.edit-btn {
  width: 15%;
  text-align: center;
}


.event_img {
  max-width: 100px;
  max-height: 180px;
  margin-bottom: 5px;
}


.event_url {
  display: block;
  margin-bottom: 5px;
}

.start_date_text{
  font-style: italic;
  font-size: 15px;
  margin:0;
}


.end_date_text{
  font-style: italic;
  font-size: 15px;
  margin:0;
}


.description{
  margin: 0 ;
}


.description_text{
  font-style: italic;
  font-size: 15px;
  margin:0;
}


#logo {
  margin-bottom: 20px;
  height: 60px ;
  margin-left:0;
}


.gm-style-iw gm-style-iw-c{
  max-width: 300px;
}


.gm-style-iw-d {
  max-width: 300px;
}


#lng {
  display: none;
}


#lat {
  display: none;
}


#id {
  display: none;
}

.logout-btn {
  display: inline-block;
}

form.delete-btn {
  display: inline-block;
}

.event-select {
  text-align: left;
  border: 1px solid #444;
  background-color: transparent;
  color: #444;
  border-radius: 0px;
  padding: 20px 10px;
}

#address_text {
  display: none;
}

// Profile Page Styling

.sign-in h1 {
  color: #444
}

.sign-in h1:hover {
  color: #777;
  text-decoration: none;
}

.sign-in a:hover {
  color: #777;
  text-decoration: none;
}


