body {
  background-color: white;

  h1 {
    color: #244751;
  }
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #444;
}

input {
  display: block;
  border: 1px solid #444;
  width: 90%;
  padding: 5px;
  margin-top: 10px;
}

.login-btn, .reg-btn {
  display: inline-block;
}

.left-side {
  padding: 20px;
}

.sign-in {
  margin-top: 100px
}

.col-md-4 {
  height: 100vh;
}

#map {
        height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
